<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/editUser}" th:object="${user}" >

    <label for="username">Name</label>
    <input id="username" th:field="*{username}" type="text" />
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error name</div>
    <br>
    <label for="password">Password</label>
    <input id="password" th:field="*{password}" type="text" />
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error password</div>
    <br>
    <label for="email">Email</label>
    <input id="email" th:field="*{email}" type="text">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</div>
    <br>
    <label>
        <select th:name="roles" th:value="*{getRoles()}">
            <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.name}" selected/>
        </select>
    </label>
    <button type="submit">Add User</button>

</form>
</body>