<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Users</h2>
<table border="4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <div sec:authorize="hasRole('ADMIN')">
        <th>Roles</th>
        </div>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <div sec:authorize="hasRole('ADMIN')">
        <td th:each="role:${user.roles}" th:text="${role.getName()}"></td>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
        <td>
            <form th:action="@{/users/edit}">
                <button type="submit" th:name="id" th:value="${user.id}" >Update</button>

            </form>
        </td>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
        <td>
            <form method="post" th:action="@{/users/delete}">
                <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
            </form>
        </td>
        </div>
    </tr>

    </tbody>
</table>
<!--<br>-->
<div sec:authorize="hasRole('ADMIN')">
<form th:action="@{/users/new}">
    <button type="submit">Add user</button>
</form>
</div>
</body>
</html>